<!DOCTYPE html>
<html>
  <head>
  <% layout('layout/page.ejs') %>
  </head>
  <body>

    <h1 style="color:#a50e2c"><%= title %></h1>
    <img src="<%= picture %>" alt=""/>
    <p style="color:white"><%= about %></p>
  </body>
</html>
